<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmaion</title>
</head>
<body>
    <script>
        alert("Chuc mung ban {{model.name}} trung iphone")
    </script>
    <span style="color:red">Hello {{model.name}}</span> 
    <br>
    You are {{model.gender}}
</body>
</html>